<div class="container" *ngIf="alunoSelecionado"> 
    <div class="row">
      <div class="mr-auto">
        <app-titulo [titulo]="'Aluno: ' + alunoSelecionado.id"></app-titulo>
      </div>
      <div class="mt-1">
        <button class="btn btn-warning" (click)="voltar()">Lista de Alunos</button>
      </div>
    </div>
    <form>
      <div class="form-group">
        <label for="formGroupExampleInput">Nome</label>
        <input type="text" value="{{ alunoSelecionado.nome }}" class="form-control">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Sobrenome</label>
        <input type="text" value="{{ alunoSelecionado.sobrenome}}" class="form-control">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Telefone</label>
        <input type="text" value="{{ alunoSelecionado.telefone }}" class="form-control">
      </div>
    </form>
</div>


<div class="container" *ngIf="!alunoSelecionado">
  <app-titulo [titulo]="titulo"></app-titulo>

  <table class="table table-sm container table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Sobrenome</th>
        <th scope="col">telefone</th>
      </tr>
    </thead>
    <tbody *ngFor="let aluno of alunos">
      <tr style="cursor: pointer;" (click)="alunoSelect(aluno)">
        <td scope="row">{{aluno.id}}</td>
        <td>{{aluno.nome}}</td>
        <td>{{aluno.sobrenome}}</td>
        <td>{{aluno.telefone}}</td>
      </tr>
    </tbody>
  </table>
</div>
