<div class="container" *ngIf="alunoSelecionado"> 
  <app-titulo [titulo]="'Aluno: ' + alunoSelecionado"></app-titulo>
  <br>
  <button class="btn btn-default" (click)="voltar()">Voltar</button>
</div>

<div class="container" *ngIf="!alunoSelecionado">
  <app-titulo [titulo]="titulo"></app-titulo>

  <table class="table table-sm container table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Sobrenome</th>
        <th scope="col">telefone</th>
      </tr>
    </thead>
    <tbody *ngFor="let aluno of alunos">
      <tr style="cursor: pointer;" (click)="alunoSelect(aluno)">
        <td scope="row">{{aluno.id}}</td>
        <td>{{aluno.nome}}</td>
        <td>{{aluno.sobrenome}}</td>
        <td>{{aluno.telefone}}</td>
      </tr>
    </tbody>
  </table>
</div>
